<link rel="stylesheet" href="css/style.css">

<div class="footer">
    <a href="https://www.facebook.com/aritrasen2121"><i style="font-size:4vw" id="f1" class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/aritrasen2121/"><i style="font-size:4vw" id="f2" class="fab fa-instagram"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+917719262121"><i style="font-size:4vw" id="f3" class="fab fa-whatsapp-square"></i></a>
    <a href="https://github.com/aritrasen2121"><i style="font-size:4vw" id="f4" class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/aritra-sen-409676206/"><i style="font-size:4vw" id="f5" class="fab fa-linkedin"></i></a>
    <p id="f6">connect with me</p>
</div>
